/* General style */
@font-face {
    font-family: "CustomFont";
    src: url("../font/BodoniFLF-Bold.ttf") format("ttf");
    font-family: "Mont";
    src: url("../font/Montserrat-Regular") format("ttf");
    font-family: "prox";
    src: url("../font/Proxima Nova Font") format("otf");
}

:root {
    --shadow-1: 0px 2px 15px rgba(0, 0, 0, 0.1);
    /* colors  */
    --purple--1: #e4e0ef;
    --purple-0: #b8afd5;
    --purple-1: #a188ad;
    --purple-2: #7964dd;
    --purple-3: #634a8e;
    --purple-4: #231861;
    --red: #de4a52;
    --brown: #a86263;

    --light: #f5f5f5;
    --light-0: #ebeef6;
    --blue-0: #21f3e7;
    --blue: #0fabf2;
    --blue-1: #2196f3;
    --blue-2: #212df3;
    --red-2: #ed5860;
    --red-1: #f37e21;
    --red-0: #f29e9e;
    --black-0: #e4e4e4;
    --black-1: #797878;
    --black-2: #1d1d1d;
    --black-3: #292929;
    --black-4: #4f5150;
    --black-5: #0f1313;
    --cookie: "Mont", cursive;
    --merry: "CustomFont", serif;
    --prox: "prox", serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
html::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-track {
    background: #f5f5f5;
}

html::-webkit-scrollbar-thumb {
    background: var(--red-1);
    box-shadow: var(--shadow-1);
}
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: scroll;
}
body {
    position: relative;
    background-color: var(--light-0);
    scroll-behavior: smooth;
}
@media screen and (max-width: 576px) {
    .xs {
        max-width: 50%;
    }
}
main {
    scroll-behavior: smooth;
    /* scroll-snap-type: y mandatory; */
}
.back-to-top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    height: 40px;
    width: 40px;
    padding: 3px;
    border-radius: 3px;
    box-shadow: var(--shadow-1);
    display: none;
    cursor: pointer;
}
.no-img {
    pointer-events: none;
}
#preloader {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 999999;
}
#centerdiv {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
#centerdiv ul {
    display: flex;
}
#centerdiv ul li {
    list-style: none;
    height: 20px;
    width: 20px;
    background-color: red;
    margin: 0 4px;
    border-radius: 50%;
    -webkit-animation: bounce 1s linear infinite;
            animation: bounce 1s linear infinite;
}
#centerdiv ul li:nth-child(1) {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
    background-color: #961419;
}
#centerdiv ul li:nth-child(2) {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
    background-color: #d11c23;
}
#centerdiv ul li:nth-child(3) {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s;
    background-color: #e21e25;
}
#centerdiv ul li:nth-child(4) {
    -webkit-animation-delay: 0.8s;
            animation-delay: 0.8s;
    background-color: #ff8152;
}
#centerdiv ul li:nth-child(5) {
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
    background-color: #ffc246;
}
#centerdiv ul li:nth-child(6) {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s;
    background-color: #f9f871;
}
@-webkit-keyframes bounce {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-40px);
    }
    100% {
        transform: translateY(0px);
    }
}
@keyframes bounce {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-40px);
    }
    100% {
        transform: translateY(0px);
    }
}
section {
    padding-top: 5rem;
    padding-bottom: 5rem;
    scroll-snap-align: start;
}
.header {
    position: relative;
    background: url("/images/backgrounds/header-bg.svg") no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 2rem 0;
}
.header h2 {
    position: relative;
    font-weight: 900;
    font-size: 3rem;
    -webkit-text-size-adjust: auto;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--red-1);
    font-family: var(--merry);
    margin: 0;
    padding: 0;
}
.header p {
    font-size: 1.05rem;
    letter-spacing: 0.6px;
    margin: 1.2rem auto;
    font-weight: 500;
    color: var(--black-0);
}
.header-link a {
    font-weight: 600;
    color: var(--light-0);
    outline-offset: 2px;
    margin: 0px 3px;
    background: var(--red-1);
    box-shadow: var(--shadow-1);
    border: 1.5px solid var(--red-1);
    outline: 1.5px solid var(--red-1);
    text-decoration: none;
    padding: 2px 7px;
}
.header-link a:hover {
    transition: 500ms;
    background: var(--red-2);
    border: 1.5px solid var(--red-2);
    outline: 1.5px solid var(--red-2);
}
@media screen and (max-width: 768px) {
    [data-aos-delay] {
        transition-delay: 0 !important;
    }
}
/* Navigation & header  */
.navbar {
    transition: 450ms;
    padding-top: 6px;
    padding-bottom: 6px;
}

#navbar-toggler-icon {
    transition: 500ms;
    fill: var(--purple-3);
}
#navbar-toggler-icon:hover {
    fill: var(--red-1);
}
header .navbar-brand {
    line-height: 1.5;
    font-weight: 900;
    font-size: 2rem;
    font-family: var(--merry);
    color: var(--purple-3);
}
header .navbar-brand span {
    color: var(--red-1);
}
.navbar-nav {
    margin-left: 28%;
}
.nav-link {
    font-weight: 600;
    color: var(--red-1);
    font-size: 1.1rem;
    letter-spacing: 0.5px;
    position: relative;
    margin: 5px 50px 5px 0;
    padding: 3px 15px;
    border-radius: 0;
}
header .nav-link:active,
header .nav-link:hover {
    color: var(--black-3);
}
header .nav-link.auth-btn {
    color: var(--red-1);
    background-color: inherit;
    box-shadow: var(--shadow-1);
    transition: 500ms;
    text-align: center;
    font-weight: 500;
    border: 1.25px solid var(--red-1);
}
header .nav-link.auth-btn:hover {
    color: var(--black-3);
    border-color: 1.25px solid var(--black-3);
}

.sticky {
    top: 0;
    width: 100%;
    transition: 450ms;
    padding-top: 0;
    padding-bottom: 0;
    background: var(--light-0);
}

.sticky-nav {
    color: var(--purple-3);
}

@media screen and (max-width: 991px) {
    .navbar-collapse {
        background: var(--light-0);
        padding: 1rem 0;
    }
    .navbar {
        background: var(--light-0);
    }
    .navbar-nav {
        margin-left: 0;
    }
}

/* Hero Page  */
#hero {
    position: relative;
    background: linear-gradient(
            rgba(0, 0, 0, 0.85),
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.85)
        ),
        url("/images/new-bg.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 9rem 0 2rem 0;
    background-attachment: fixed;
}

#hero .hero-text .hello {
    color: var(--light);
    font-size: 0.8rem;
    font-family: var(--cookie);
    font-style: italic;
    letter-spacing: 1px;
    margin: 0;
    padding: 0.5rem 0;
}
#hero .hero-text h1 {
    color: var(--light-0);
    font-size: 2.8rem;
    font-weight: 900;
    font-family: var(--merry);
    display: inline-block;
}
#hero .hero-text h2 {
    color: var(--light-0);
    font-size: 2.8rem;
    font-weight: 900;
    font-family: var(--merry);
}

#hero .hero-text span {
    color: var(--red-1);
    font-style: italic;
}
#hero .hero-text .description {
    color: var(--light-0);
    opacity: 0.6;
    font-size: 1.3rem;
    background-color: rgba(0, 0, 0, 0.9);
    font-weight: 500;
    padding: 8px;
    border-radius: 5px;
    letter-spacing: 0.6px;
    font-family: var(--prox);
}

#hero .hero-btn a {
    position: relative;
    border: 1.5px solid var(--red-1);
    outline: 1.5px solid var(--red-1);
    outline-offset: 3px;
    background: var(--red-1);
    color: #f5f5f5;
    padding: 0.2rem 1.2rem;
    font-size: 1rem;
    transition: 500ms;
    box-shadow: var(--shadow-1);
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 1rem;
    margin-right: 5px;
    box-shadow: var(--shadow);
}
#hero .hero-btn a:hover {
    text-decoration: none;
    outline: 1.5px solid var(--red-2);
    border: 1.5px solid var(--red-2);
    background: var(--red-2);
}

.thim-click-to-bottom {
    animation: bouncing 2s infinite ease-in-out;
    -webkit-animation: bouncing 2s infinite ease-in-out;
    z-index: 99;
}
.thim-click-to-bottom img {
    border: 1.5px solid var(--light);
    padding: 3px;
    width: 20px;
    height: 20px;
    border-radius: 7px;
}

@-webkit-keyframes bouncing {
    0%,
    20%,
    60%,
    100% {
        -ms-transform: translateY(0);
    }
    0%,
    20%,
    60%,
    100% {
        transform: translateY(0);
    }
    0%,
    20%,
    60%,
    100% {
        transform: translateY(0);
    }
    0%,
    20%,
    60%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    80% {
        transform: translateY(-7px);
    }
}

@keyframes bouncing {
    0%,
    20%,
    60%,
    100% {
        -ms-transform: translateY(0);
    }
    0%,
    20%,
    60%,
    100% {
        transform: translateY(0);
    }
    0%,
    20%,
    60%,
    100% {
        transform: translateY(0);
    }
    0%,
    20%,
    60%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    80% {
        transform: translateY(-7px);
    }
}

@media screen and (max-width: 576px) {
    #hero .hero-text .hello {
        font-size: 0.85rem;
        margin-bottom: 3px;
    }
    #hero .hero-text h1 {
        font-size: 2.4rem;
    }
    #hero .hero-text p {
        font-size: 1.25rem;
        margin: 1.2rem 0;
        font-weight: 500;
    }
}

/* counter begins  */
.counts {
    background: var(--light-0);
}
.counts .counters {
    box-shadow: var(--shadow-1);
    padding: 0.85rem 0.85rem 0.85rem 0.35rem;
    border-radius: 4px;
    margin: 0.3rem 0;
    background: var(--light-0) url("/images/icons/flower.png") no-repeat;
    background-position: -17.5px -17.5px;
}
.counts .counters img {
    width: 1.9rem;
    height: 1.9rem;
    margin: 3.5px 0;
    pointer-events: none;
}
.counts .counters .counter {
    color: var(--purple-3);
    font-size: 1.4rem;
    font-weight: 600;
    font-family: var(--merry);
}
.counts .counters p {
    font-size: 1rem;
    font-weight: 600;
    font-family: var(--merry);
    color: var(--black-1);
}
/* counter ends  */
/* About me  */
#about {
    position: relative;
    background: url("/images/backgrounds/bg-2.svg") -300px center no-repeat,
        url("/images/backgrounds/bg-2.svg") 100px center no-repeat,
        url("/images/backgrounds/bg-2.svg") 500px center no-repeat;
    z-index: 0;
}
#about .about-img {
    position: relative;
    width: 311px;
    height: 350px;
    z-index: 3;
}
#about .about-img::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 20px;
    background: var(--purple-3);
    width: 311px;
    height: 350px;
    z-index: -1;
    max-width: 80%;
    max-height: 80%;
    box-shadow: var(--shadow-1);
    border-radius: 5px;
}
#about .about-img img {
    padding: 9px;
    border-radius: 5px;
    background: #ffffff;
    margin: auto;
    max-width: 80%;
    box-shadow: var(--shadow-1);
    box-shadow: var(--shadow);
    transition: 500ms;
    transform: rotate(-8deg);
}
#about .about-img img:hover {
    transform: rotate(0deg);
}
#about .about-text h4 {
    font-family: var(--merry);
    font-size: 1.4rem;
    color: var(--purple-3);
    letter-spacing: 0.5px;
    font-weight: 600;
}

#about .about-text ul {
    list-style-type: square;
}
#about .about-text ul li {
    font-size: 1.05rem;
    color: var(--black-4);
    letter-spacing: 0.5px;
    margin: 5px 0;
    font-weight: 500;
}
#about .about-skill img {
    height: 50px;
    width: 50px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: var(--shadow);
}

#about .about-icons {
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about .about-icons img {
    width: 20px;
    height: 20px;
    margin: 1rem 0 1rem;
    box-shadow: var(--shadow-1);
}
#about .about-icons img.resume {
    padding: 1.5px;
    background: var(--purple-0);
}

/* contact  */
#contact {
    position: relative;
}
#contact .container {
    background: url("/images/contact.svg") no-repeat bottom right,
        url("/images/contact.svg") no-repeat top left;
}
#contact .contact-icons {
    background-color: #ffffff;
}
#contact .contact-icons img {
    width: 25px;
    height: 25px;
    margin-bottom: 4px;
}
#contact .contact-form {
    border-radius: 4px;
    background: var(--light-0);
}
#contact .contact-form input,
#contact .contact-form textarea {
    padding: 0.55rem 0.6rem;
    border: 1px solid #ffffff;
    color: var(--black-3);
    outline: 0;
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 0.5px;
    resize: none;
}
#contact .contact-form input:focus,
#contact .contact-form textarea:focus {
    border: 1px solid var(--red-1);
}

#contact .contact-form button.contact_btn {
    position: relative;
    border: 1.5px solid var(--purple-3);
    outline: 1.5px solid var(--purple-3);
    outline-offset: 3px;
    background: var(--purple-3);
    color: #f5f5f5;
    padding: 0.2rem 1.2rem;
    font-size: 1rem;
    transition: 500ms;
    box-shadow: var(--shadow-1);
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 1rem;
    margin-right: 5px;
}
#contact .contact-form button.contact_btn:hover {
    text-decoration: none;
    outline: 1.5px solid var(--purple-4);
    border: 1.5px solid var(--purple-4);
    background: var(--purple-4);
}

/* portfolio  */
#portfolio {
    position: relative;
    background: url("/images/backgrounds/bg-2.svg") -300px no-repeat,
        url("/images/backgrounds/bg-2.svg") 100px no-repeat,
        url("/images/backgrounds/bg-2.svg") 500px no-repeat;
}
.portfolio .card {
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: var(--shadow-1);
    border: none;
    border-radius: 3px;
    background-color: #fff;
    transition: 500ms;
}
.portfolio .card:hover {
    transform: translateY(-3px);
}
.portfolio .card .state {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1px;
    background-color: var(--light);
    height: 33px;
    width: 33px;
}
.portfolio .card .card-body {
    padding: 10px;
}
.portfolio .card .card-title {
    margin: 1px 0 2px 0;
}
.portfolio .card .card-title a {
    font-weight: 600;
    font-family: var(--merry);
    color: var(--purple-3);
    letter-spacing: 0.5px;
    font-size: 1.2rem;
    margin: 0 0 0.5px 0;
    text-decoration: none;
}
.portfolio .card .card-text {
    color: var(--black-4);
    font-size: 0.88rem;
    display: inline-block;
    padding: 3.5px 0;
    margin: 3px 0 2.5px 0;
    line-height: 1.3;
    letter-spacing: 0.6px;
    font-weight: 400;
    font-family: var(--merry);
}
.portfolio .card .tech-stack {
    color: #fff;
    font-size: 0.7rem;
    display: inline-block;
    background-color: var(--black-1);
    margin: 3px 3px 3px 0;
    padding: 2px 3.5px;
    border-radius: 5px;
    letter-spacing: 0.5px;
    font-weight: 500;
    font-family: var(--merry);
}

/* .portfolio .card .text-stack {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
} */
/* .portfolio .card .tech-stack .iconify {
    color: var(--black-1);
    margin: 4px 4px 4px 0;
    font-size: 1.3rem;
    opacity: 0.75;
} */

.portfolio .card .project_btn a {
    display: inline-block;
    padding: 2px 5px;
    /* margin-left: 3px; */
    text-decoration: none;
    font-size: 0.8rem;
    border-radius: 5px;
    box-shadow: var(--shadow-1);
    transition: 500ms;
    color: var(--light-0);
    background: var(--purple-3);
}

.portfolio .card .project_btn a:hover {
    background-color: var(--purple-4);
    color: var(--light-0);
    text-decoration: none;
}
/* footer  */
#footer {
    background: var(--black-3);
    padding: 1rem 0;
    color: var(--black-1);
    font-size: 0.8rem;
}
#footer a {
    color: var(--red-1);
    transition: 500ms;
}
#footer a:hover {
    color: var(--red-2);
    text-decoration: none;
}
/* Other Pages  */
/* General  */
.breadcrumbs {
    padding: 1rem 0;
    background: var(--purple-3);
    min-height: 40px;
    margin-top: 68px;
}

.breadcrumbs h2 {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--light-0);
    font-family: var(--merry);
}

.breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    font-size: 14px;
    margin: 0;
}

.breadcrumbs ol li + li {
    padding-left: 10px;
    color: var(--light-0);
}

.breadcrumbs ol li a {
    color: var(--red-1);
    text-decoration: none;
}

.breadcrumbs ol li + li::before {
    display: inline-block;
    padding-right: 10px;
    color: var(--red-1);
    content: "/";
}

@media (max-width: 768px) {
    .breadcrumbs .d-flex {
        display: block !important;
    }
    .breadcrumbs ol {
        display: block;
    }
    .breadcrumbs ol li {
        display: inline-block;
    }
}

/* Project / Portfolio Page  */
/* Portfolio Project Details */
/* {{-- same style with index projects in projects index --}} */
.search_result {
    padding: 1.5rem;
    margin-top: 1.5rem;
    text-align: center;
}
.search_result h2 {
    color: var(--black-4);
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.5px;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.search_result span {
    color: var(--purple-3);
    font-weight: 900;
}
.search_result p {
    color: var(--black-4);
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.5px;
    line-height: 1.6;
}
/* search input  */
#search_query {
    border: 0px solid var(--purple-0);
    padding: 0.1rem 0.5rem;
    font-size: 0.9rem;
    font-family: var(--merry);
    outline: none;
    height: 100%;
    height: 2.5rem;
    color: var(--purple-3);
}
#search_query.category {
    border-right-color: transparent;
    background-color: var(--purple-3);
    color: var(--light-0);
}
.search option {
    color: var(--purple-3);
    padding: 3px 0;
    background-color: var(--light);
}

/* portfolio detail section  */
#project-details {
    position: relative;
}
#project-details .project-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#project-details .project-gallery a {
    margin: 0.5rem 0.5rem 0.5rem 0;
}
#project-details .project-gallery a img {
    width: 150px;
    height: auto;
    padding: 1.5px;
    border: 1px solid var(--purple-0);
    background: var(--purple--1);
    border-radius: 4px;
}

#project-details .project-info {
    padding: 1rem 0;
}

#project-details .project-info h3 {
    font-size: 1.45rem;
    color: var(--purple-3);
    font-weight: 600;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--purple--1);
    font-family: var(--merry);
}

#project-details .project-info ul {
    list-style: none;
    padding: 0;
    font-size: 0.95rem;
}

#project-details .project-info ul li strong {
    font-family: var(--merry);
    color: var(--purple-3);
}
#project-details .project-info ul li + li {
    margin-top: 5px;
}

#project-details .project-description {
    padding: 1rem 0;
}

#project-details .project-description h3 {
    font-size: 1.45rem;
    color: var(--purple-3);
    font-weight: 600;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--purple--1);
    font-family: var(--merry);
}

#project-details .project-description p {
    color: var(--black-4);
    letter-spacing: 0.5px;
}

@media (max-width: 768px) {
    #project-details .project-info {
        position: static;
        margin-top: 30px;
    }
}

/* Authentication style  */
.auth {
    position: relative;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(
        180deg,
        var(--light-0) 50%,
        var(--black-3) 50%
    );
}

.auth .auth-card {
    background-color: #ffffff;
    box-shadow: var(--shadow);
    border-radius: 5px;
    padding: 1rem;
}
.auth h3 {
    color: var(--red-1);
    font-weight: 700;
    letter-spacing: 0.6px;
    font-size: 1.3rem;
    text-transform: uppercase;
    text-align: center;
    font-family: var(--merry);
}
.auth .auth-card label {
    font-size: 0.85rem;
    color: #212221;
    margin: 0;
    font-weight: 500;
    padding: 0;
}
.auth .auth-card input[type="text"],
.auth .auth-card input[type="password"],
.auth .auth-card input[type="email"] {
    padding: 0.4rem 0.5rem;
    border: 1px solid var(--red-1);
    outline: 1px solid var(--red-1);
    width: 100%;
    font-size: 0.9rem;
}
.auth .auth-card p {
    padding: 2px 0;
    margin: 0;
    font-size: 0.9rem;
    font-weight: 500;
}
.auth .auth-card button {
    width: 100%;
    background-color: var(--red-1);
    border: 1px solid var(--red-1);
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    box-shadow: var(--shadow);
    transition: 500ms;
    padding: 10px;
}
.auth .auth-card button:hover {
    transform: scale(0.98);
}

/* Blog Page  */
.blog_details {
    position: relative;
}
.blog_details .blog_title {
    color: var(--purple-3);
    letter-spacing: 0.5px;
    font-weight: 600;
    font-size: 1.2rem;
}
.blog_details .blog_time span {
    color: #a5a5a5;
    font-size: 0.85rem;
}
.blog_details .blog_body {
    color: var(--black-5);
    font-size: 0.95rem;
    font-weight: 500;
    letter-spacing: 0.5px;
}
.blog_details .blog_slug a {
    background-color: var(--red-1);
    color: #fff;
    font-size: 0.95rem;
    padding: 0.35rem;
    border-radius: 5px;
    text-decoration: none;
    transition: 500ms;
}
.blog_details .blog_slug a:hover {
    background-color: var(--red);
}
.blog_details .like,
.blog_details .dislike,
.blog_details .comments,
.blog_details .blog_notifications {
    position: relative;
}
.blog_details .blog_notifications .iconify {
    height: 1.5rem;
    width: 1.5rem;
    background-color: #eee;
    padding: 3px;
}
.blog_details .like_count,
.blog_details .dislike_count,
.blog_details .comments_count {
    position: absolute;
    top: -7px;
    left: 13px;
    background-color: var(--red);
    color: #ffffff;
    border-radius: 50%;
    padding: 4.5px;
    font-size: 0.6rem;
    height: 17px;
    width: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}

