:root {
    --shadow-1: 0px 2px 15px rgba(0, 0, 0, 0.1);
    /* colors  */
    --light: #f5f5f5;
    --light-0: #ebeef6;
    --blue-0: #21f3e7;
    --blue: #0fabf2;
    --blue-1: #2196f3;
    --blue-2: #212df3;
    --red-2: #ed5860;
    --red-1: #f37e21;
    --red-0: #f29e9e;
    --black-0: #b3b1b1;
    --black-1: #797878;
    --black-2: #1d1d1d;
    --black-3: #292929;
    --black-4: #4f5150;
    --black-5: #0f1313;
    --cookie: "Cookie", cursive;
    --merry: "Merriweather", serif;
}
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a:hover {
    text-decoration: none;
}
.sidebar {
    position: fixed;
    height: 100%;
    width: 240px;
    background: var(--black-3);
    transition: all 0.5s ease;
}
.sidebar.active {
    width: 60px;
}
.sidebar .logo-details a {
    display: flex;
    font-size: 1.3rem;
    font-weight: 700;
    color: #fff;
    text-align: center;
    padding: 1rem 1.2rem;
    font-family: var(--merry);
}
.sidebar .logo-details span {
    color: var(--red-1);
    font-size: 1.3rem;
    font-weight: 700;
    font-family: var(--merry);
}

.sidebar .nav-links {
    margin-top: 8px;
}
.sidebar .nav-links li {
    position: relative;
    list-style: none;
    height: 2rem;
}
.sidebar .nav-links li a {
    padding: 0.2rem;
    border-radius: 10px;
    margin: 7px 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    box-shadow: var(--shadow-1);
    color: var(--blue-1);
}
.sidebar .nav-links li a.active {
    color: #ffffff;
}
.sidebar .nav-links li a:hover {
    color: #ffffff;
}
.sidebar .nav-links li .iconify {
    min-width: 60px;
    text-align: center;
    font-size: 0.9rem;
}
.sidebar .nav-links li a .links_name {
    font-size: 0.9rem;
    font-weight: 400;
    white-space: nowrap;
}
.sidebar .nav-links .log_out {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.home-section {
    position: relative;
    background: #f5f5f5;
    min-height: 100vh;
    width: calc(100% - 240px);
    left: 240px;
    transition: all 0.5s ease;
}
.sidebar.active ~ .home-section {
    width: calc(100% - 60px);
    left: 60px;
}
.home-section nav {
    display: flex;
    justify-content: space-between;
    height: 50px;
    background: #fff;
    display: flex;
    align-items: center;
    position: fixed;
    width: calc(100% - 240px);
    left: 240px;
    z-index: 100;
    padding: 0 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
}
.sidebar.active ~ .home-section nav {
    left: 60px;
    width: calc(100% - 60px);
}
.home-section nav .sidebar-button {
    display: flex;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
}
nav .sidebar-button .iconify {
    font-size: 1.4rem;
    margin-right: 10px;
    color: var(--red-1);
    font-weight: 600;
}
.home-section nav .search-box {
    position: relative;
    height: 35px;
    max-width: 250px;
    width: 100%;
    margin: 0 20px;
}
nav .search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    background: #ffffff;
    border: 1px solid var(--blue-1);
    border-radius: 4px;
    font-size: 0.9rem;
    padding: 0.2rem 1rem;
}
nav .search-box input:focus {
    border: 1px solid var(--red-2);
}
nav .search-box .bx-search {
    position: absolute;
    height: 30px;
    width: 30px;
    background: var(--blue-1);
    right: 1px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 4px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    font-size: 1rem;
    transition: all 0.4 ease;
    cursor: pointer;
}
.home-section nav .profile-details {
    display: flex;
    align-items: center;
    border-radius: 6px;
    cursor: pointer;
}
nav .profile-details a {
    font-size: 1rem;
    font-weight: 500;
    margin: 0 10px;
    white-space: nowrap;
    color: var(--black-3);
}
nav .profile-details .iconify {
    font-size: 1.5rem;
    color: var(--red-1);
}
.home-section .home-content {
    position: relative;
    padding-top: 104px;
}
.home-content .overview-boxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
    margin-bottom: 26px;
}
.overview-boxes .box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 4 - 15px);
    background: #fff;
    padding: 15px 14px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.overview-boxes .box-topic {
    font-size: 20px;
    font-weight: 500;
}
.home-content .box .number {
    display: inline-block;
    font-size: 35px;
    margin-top: -6px;
    font-weight: 500;
}
.home-content .box .indicator {
    display: flex;
    align-items: center;
}
.home-content .box .indicator i {
    height: 20px;
    width: 20px;
    background: #8fdacb;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    margin-right: 5px;
}
.box .indicator i.down {
    background: #e87d88;
}
.home-content .box .indicator .text {
    font-size: 12px;
}
.home-content .box .cart {
    display: inline-block;
    font-size: 32px;
    height: 50px;
    width: 50px;
    background: #cce5ff;
    line-height: 50px;
    text-align: center;
    color: #66b0ff;
    border-radius: 12px;
    margin: -15px 0 0 6px;
}
.home-content .box .cart.two {
    color: #2bd47d;
    background: #c0f2d8;
}
.home-content .box .cart.three {
    color: #ffc233;
    background: #ffe8b3;
}
.home-content .box .cart.four {
    color: #e05260;
    background: #f7d4d7;
}
.home-content .total-order {
    font-size: 20px;
    font-weight: 500;
}
.home-content .sales-boxes {
    display: flex;
    justify-content: space-between;
    /* padding: 0 20px; */
}

/* left box */
.home-content .sales-boxes .recent-sales {
    width: 65%;
    background: #fff;
    padding: 20px 30px;
    margin: 0 20px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.home-content .sales-boxes .sales-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sales-boxes .box .title {
    font-size: 24px;
    font-weight: 500;
    /* margin-bottom: 10px; */
}
.sales-boxes .sales-details li.topic {
    font-size: 20px;
    font-weight: 500;
}
.sales-boxes .sales-details li {
    list-style: none;
    margin: 8px 0;
}
.sales-boxes .sales-details li a {
    font-size: 18px;
    color: #333;
    font-size: 400;
    text-decoration: none;
}
.sales-boxes .box .button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.sales-boxes .box .button a {
    color: #fff;
    background: #0a2558;
    padding: 4px 12px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.3s ease;
}
.sales-boxes .box .button a:hover {
    background: #0d3073;
}

/* Right box */
.home-content .sales-boxes .top-sales {
    width: 35%;
    background: #fff;
    padding: 20px 30px;
    margin: 0 20px 0 0;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.sales-boxes .top-sales li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}
.sales-boxes .top-sales li a img {
    height: 40px;
    width: 40px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 12px;
    margin-right: 10px;
    background: #333;
}
.sales-boxes .top-sales li a {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.sales-boxes .top-sales li .product,
.price {
    font-size: 17px;
    font-weight: 400;
    color: #333;
}
/* Responsive Media Query */
@media (max-width: 1240px) {
    .sidebar {
        width: 60px;
    }
    .sidebar.active {
        width: 220px;
    }
    .home-section {
        width: calc(100% - 60px);
        left: 60px;
    }
    .sidebar.active ~ .home-section {
        /* width: calc(100% - 220px); */
        overflow: hidden;
        left: 220px;
    }
    .home-section nav {
        width: calc(100% - 60px);
        left: 60px;
    }
    .sidebar.active ~ .home-section nav {
        width: calc(100% - 220px);
        left: 220px;
    }
}
@media (max-width: 1150px) {
    .home-content .sales-boxes {
        flex-direction: column;
    }
    .home-content .sales-boxes .box {
        width: 100%;
        overflow-x: scroll;
        margin-bottom: 30px;
    }
    .home-content .sales-boxes .top-sales {
        margin: 0;
    }
}
@media (max-width: 1000px) {
    .overview-boxes .box {
        width: calc(100% / 2 - 15px);
        margin-bottom: 15px;
    }
}
@media (max-width: 700px) {
    nav .sidebar-button .dashboard,
    nav .profile-details .admin_name,
    nav .profile-details i {
        display: none;
    }
    .home-section nav .profile-details {
        height: 50px;
        min-width: 40px;
    }
    .home-content .sales-boxes .sales-details {
        width: 560px;
    }
}
@media (max-width: 550px) {
    .overview-boxes .box {
        width: 100%;
        margin-bottom: 15px;
    }
    .sidebar.active ~ .home-section nav .profile-details {
        display: none;
    }
}

